.taskbar{
	height: var(--taskbar-height);
	width: 100%;
	background: #19659e;
}

.taskbar .icons .icons-left .start-menu{
	display: inline-block;
	height: 43px;
	width: 48px;
	background-image: url("rocket.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px 28px;
	position: absolute;
}

.taskbar .icons .icons-left .start-menu:hover{
	background-color: #3472a0;
	background-image: url("rocket_hover.svg");
}

.icons{
	height: 100%;
	width: 100%;
}

.icons-left{
	width: 50px;
	float: left;
	height: 100%;
}

.taskbar .icons .icons-left .start-menu:hover{
	background-color: #3472a0;
	background-image: url("rocket_hover.svg");
}

.icons-app{
	font-size: 13px;
	float: left;
	height: 100%;
}

.icons-app .app{
	text-align: start;
	text-decoration: none;
	display: inline-block;
	width: 170px;
	height: 100%;
	border-bottom: 2px solid white;
	background-color: #ffffff2e;
}

.app:hover{
	background-color: #c0c0c0;
}

.app img{
	margin: 8px 10px 8px 8px;
	float: left;
}

.app span{
	display: table;
	margin-top: 12px;
	color: white;
}
