:root {
	--message-input-height: 200px;
}

.chat-client-home {
	height: 100%;
	width: 100%;
	overflow: auto;
}

.friend-list {
	margin: 5px;
	margin-right: 0;
	padding: 5px;
	border: 1px solid gray;
}

.friend-list-item:hover{
	cursor: pointer;
	background-color: #d9d9d9;
}

.conversation-form {
	height: 100%;
	width: 100%;
}

.message-container {
	height: calc(100% - var(--message-input-height) - 5px - 10px);
	/*width: 100%;*/
	padding: 5px;
	overflow: auto;
	margin: 5px;
	border: 1px solid gray;
}

.message-input {
	height: var(--message-input-height);
	/*width: 100%;*/
	margin: 5px;
}

.conversation-bubble {
	max-width: 90%;
	margin: 5px 0;
	padding: 3px;
}

.bubble-friend {
	background-color: #80d8ff;
	padding: 3px;
	display: flex;
}

.bubble-mine {
	display: flex;
	background-color: #CFD8DC;
	float: right;
}

.chat-send-btn {
	padding: 5px 22px;
}

/*
.BubbleMine:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 31px solid transparent;
	border-left-color: #CFD8DC;
	border-right: 0;
	margin-top: -31px;
	margin-right: -31px;
}*/