body{
	margin: 0;
	padding: 0;
	background-color: #ebebeb;
}

.desktop{
	display: grid;
	grid-auto-flow: row;
	grid-gap: 15px;
	padding: 10px;
}

.desktop-item{
	width: 50px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50px 50px;
	font-family: "Tahoma";
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	color: black;
	padding: 5px;
}

.desktop-item:hover{
	background-color: #c0c0c0;
}

.taskbar{
	position: fixed;
	bottom: 0;
	height: 43px;
	width: 100%;
	background: #19659e;
}

.taskbar .icons .icons-left .start-menu{
	display: inline-block;
	height: 43px;
	width: 48px;
	background-image: url("rocket.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 28px 28px;
	position: absolute;
}

.taskbar .icons .icons-left .start-menu:hover{
	background-color: #3472a0;
	background-image: url("rocket_hover.svg");
}
